extends layouts/main

block content
    .video_player
        video(src=`/${video.fileUrl}`, controls=true)
    .video_info
        a(href=routes.editVideo(video.id)) Edit Video
        span.video_views=video.views
        p.video_description=video.description